{% if not content_obj.likes_closed %}
    <p class="likes">
        {{ content_obj.vote_total }}
        <span>
            {% if can_vote %}
                <a class="liker" href="{% url like_modelbase content_obj.id 1 %}">I Like</a>
                <script type="text/javascript" src="/media/likes/includes/likes.js"></script>
                <script type="text/javascript">
                    $(function() {
                        like(".liker", "{% url like_modelbase_ajax content_obj.id 1 %}", ".likes");
                    });
                </script> 
            {% else %}
                Likes
            {% endif %}
        </span>
    </p>
{% endif %}
